/* Reset de margens e preenchimentos para garantir a consistência em todos os navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana;
}

/* Estilo do header com a sombra */
header {
    background-color: #fff;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    border-bottom: 1px solid #ccc;
    width: 100%;
}
a {
    text-decoration: none;
}

.svg {
    color:#7B88A6;
}
.disabled-cursor {
    cursor: not-allowed;
}

/* Estilo da logo na esquerda */
.logo img {
    width: 100px;
    margin-left: 20px; /* Reduzido o espaço à esquerda da logo */
}

/* Centralização do conteúdo */
.content {
    text-align: center;
    padding: 20px;
    margin-top: 5vh;
    
}

.content h1 {
    color: #505050;
    font-weight: bold;
    margin-bottom: 20px; /* Reduzido o espaço abaixo do título */
    font-size: 30px; /* Tamanho de fonte maior */
}

.content p {
    color: #7e7e7e;
    font-size: 15px; /* Tamanho de fonte maior */
    margin-bottom: 10px; /* Reduzido o espaço abaixo do parágrafo */
    text-align: center;
    width: 60%;
    margin: 0 auto;
}

/* Estilo do formulário */
form {
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

button {
    text-align: center;
    width: 50%; /* O botão ocupa a largura total do formulário */
    padding: 10px; /* Espaçamento interno do botão aumentado */
}

input {
    margin: 5px;
}

input[type="text"] {
    width: 50%; /* O campo de texto ocupa a largura total do formulário */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="text"]:focus {
    border-color: #8FBBDD;
    outline: none;
}

/* Estilo do Captcha */
.captcha {
    text-align: center;
    margin-top: 20px;
}

/* Estilo do botão de acesso */
button {
    background-color: #d60b52;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #aa0941;
}

/* Estilo dos botões de abas */
.tab-button {
    background-color: #f1f1f1;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo do botão de aba ativa */
.active-button {
    background-color: #ccc;
}

.gif {
    width: 18px;
}

.contato {
    background-color: #ffffff; /* Cor de fundo desejada */
    padding: 10px; /* Espaçamento interno desejado */
    margin-top: 15vh;
    text-align: center; /* Centraliza o conteúdo horizontalmente */
  }

  .contato-botao {
    width: 130px; /* Tamanho do círculo */
    height: 130px; /* Tamanho do círculo */
    border-radius: 50%; /* Torna o elemento um círculo perfeito */
    background-color: #f5f5f5; /* Cor de fundo do botão */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin: 0 auto;
    transition: transform 0.2s, box-shadow 0.2s; /* Efeito de transição suave */
    cursor: pointer;
}

.text-wpp {
    font-weight: bold;
    color:#7b86a3
}


.contato-botao p {
    font-size: 15px;
    margin: 10px 0;
    color: #7b88a6;

  }

.contato h2 {
    color:#009cc4;
    font-size: 25px ;
    margin-bottom: 20px;
}
/* Animação de pulo */
@keyframes jump {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* Adicione regras de mídia para tornar o site responsivo */
@media (max-width: 768px) {
    .content h1 {
        font-size: 20px; /* Reduzido o tamanho da fonte para dispositivos móveis */
    }
    
    .content p {
        font-size: 14px; /* Reduzido o tamanho da fonte para dispositivos móveis */
    }

    input[type="text"] {
        width: 80%; /* O campo de texto ocupa a largura total do formulário */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    button {
        text-align: center;
        width: 80%; /* O botão ocupa a largura total do formulário */
        padding: 10px; /* Espaçamento interno do botão aumentado */
    }
                
            
}
